.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-search {
    width: 100%;
    border: 1px solid black;
}

.inputsq {
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.dominos {
    width: 20%;
    border: 1px solid black;
}

.x-depth-5 {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.product-search {
    display: flex;
    justify-content: space-between;
}

.btn-search {
    border: none;
    border-radius: 0px;
}

.exp {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.exp-month {
    border: 1px solid black;
    border-radius: 5px;
}

.exp-year {
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.sec-code {
    border: 1px solid black;
    border-radius: 5px;
}

.billing-zip {
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

::placeholder {
    color: #007bff;
    margin-left: 3px;
}
